@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

@font-face {
    font-family: Phosphate;
    src: url('Phosphate-Solid.ttf');
}

body {
    background-color: rgb(33, 110, 63, 0.6);
    background: linear-gradient(rgb(33, 110, 63, 0.6), rgba(93, 161, 72, 0.6)), url(noise.svg);
    
}

.top-frame {
    height: 1.25em;
    background-image: url(moldura.png);
    background-size: 2.5em;
    background-color: rgb(236, 187, 96);
}

.logo {
    max-width: 100%;
    width: auto;
    margin: 7.5em auto;
}

.header, .content {
    width: 60%;
    margin: auto;
}

.content {
    margin-top: 10em;
    clear: both;
}

.title, .subtitle, .menu {
    font-family: Phosphate, Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(134, 157, 168);
    margin-bottom: 0.5em;
}

.title {
    font-size: 4em;
}

.subtitle {
    margin-top: 1em;
    font-size: 2.5em;
    transform: skewX(-8deg);
}

.text {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(247, 240, 244);
    font-size: 1.25em;
    margin: 0.75em 0;
}

.info {
    background-color: rgb(39, 46, 105);
    margin: 2em 0;
    padding: 1.25em;
    overflow: hidden;
    clear: both;
}

.poster, .map {
    float: left;
    margin-right: 1em;
    max-width: 24em;
    width: 50%;
}

a {
    text-decoration: none;
    color: rgb(134, 157, 168);
}

.menu {
    margin: 1em;
}

.menu-item {
    background-color: rgb(39, 46, 105);
    text-align: center;
    width: 45%;
    margin: 0.1em 0.5em;
    transform: skewX(-8deg);
    overflow: hidden;
    font-size: 2em;
    float: left;
}

.menu-item:hover, .menu-item p a:hover {
    opacity: 0.75;
}

.menu-item:hover {
    background-color: rgb(8, 13, 78);
}

.menu-item p {
    transform: skewX(8deg);
}

.menu-item p a {
    display: block;
}

.menu-item p a:hover {
    color: rgb(236, 187, 96);
}

.footer {
    margin: auto;
    text-align: center;
    width: 60%;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.row img {
    width: 12em;
}

.footer-text {
    color: rgb(0, 0, 0);
}

@media (max-width: 1024px) {

    .menu {
        overflow: hidden;
    }

    .menu-item {
        width: 40%;
        margin: 0.1em 0.83em;
    }

    .content {
        margin-top: 0;
    }
}