@import url('https://fonts.googleapis.com/css?family=Copse&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One&display=swap');

body {
    background-color: rgb(33, 110, 63, 0.9);
    background: linear-gradient(rgb(33, 110, 63, 0.9), rgb(93, 161, 72, 0.9)), url(noise.svg);
    
}

.content {
    width: 45%;
    margin: auto;
}

.title, .subtitle, .menu {
    font-family: 'Rammetto One', cursive;
    text-transform: uppercase;
    color: #869DA8;
    margin-bottom: 0.5em;
}

.title {
    font-size: 3.5em;
}

.subtitle {
    margin-top: 1em;
    font-size: 2em;
    transform: skewX(-15deg);
}

.text {
    font-family: 'Copse', serif;
    color: #FFFFFF;
    font-size: 1.25em;
    margin: 0.75em 0;
    text-justify: inter-word;
}

.info {
    background-color: #272E69;
    margin: 2em 0;
    padding: 1.25em;
    text-align: justify;
    overflow: hidden;
}

.poster, .map {
    float: left;
    margin-right: 1em;
    max-width: 24em;
    width: 50%;
}

.info {
    clear: both;
}

.logo {
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    color: #888888;
}

.footer {
    margin: auto;
    text-align: center;
}

.menu {
    margin-top: 1em;
}

.menu-item {
    background-color: rgb(233, 181, 71);
    text-align: center;
    width: 50%;
    margin: 0.5em auto;
    transform: skewX(-15deg);
    overflow: hidden;
}